.nome{
    background-color: red;
    padding: 10px;
    margin: 10px;
}
.data{
    background-color: red;
    padding: 10px;
    margin: 10px;
}


.rotina {
    background-color: rgb(73, 100, 223);
    padding: 10px;
    margin: 10px 0;
}

.curso {
    background-color: red;
    padding: 10px;
    margin: 10px 0;
}
.visualizacao {
    background-color: red;
    padding: 10px;
    margin: 10px 0;
}

.hobbies {
    background-color: lightgreen;
    padding: 10px;
    margin: 10px 0;
}

.banda-artista {
    background-color: lightcoral;
    padding: 10px;
    margin: 10px 0;
}